<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        bootstrap="vendor/autoload.php"
        backupStaticAttributes="false"
        backupGlobals="false"
        cacheTokens="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        forceCoversAnnotation="false"
        processIsolation="false"
        stopOnError="false"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false"
>
    <testsuites>

        <testsuite name="Unit">
            <directory suffix="Test.php">./tests</directory>
            <exclude>./tests/Base/BaseCase.php</exclude>
            <!--<exclude>./tests/Base/BaseApiCase.php</exclude>-->
        </testsuite>
    </testsuites>
</phpunit>